<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>aiss.HelloWorldServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/helloworld</url-pattern>
	</servlet-mapping>
	
	 <!-- EventBrite files - retrieve -->
    <servlet>
        <servlet-name>EventBriteEventListController</servlet-name>
        <servlet-class>aiss.controller.EventBrite.EventBriteEventListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventBriteEventListController</servlet-name>
        <url-pattern>/eventBriteEventList</url-pattern>
    </servlet-mapping>
     <!-- EventBrite files - retrieve -->
    <servlet>
        <servlet-name>EventBriteInfoController</servlet-name>
        <servlet-class>aiss.controller.EventBrite.EventBriteInfoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventBriteInfoController</servlet-name>
        <url-pattern>/eventBriteEventInfo</url-pattern>
    </servlet-mapping>
    
    <!-- GoogleCalendar calendar - retrieve -->
    <servlet>
        <servlet-name>CalendarEventListController</servlet-name>
        <servlet-class>aiss.controller.Calendar.CalendarEventListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalendarEventListController</servlet-name>
        <url-pattern>/calendarOwnerCalendar</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CalendarInsertEventController</servlet-name>
        <servlet-class>aiss.controller.Calendar.CalendarInsertEventController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalendarInsertEventController</servlet-name>
        <url-pattern>/addingEvent</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CalendarDeleteEventController</servlet-name>
        <servlet-class>aiss.controller.Calendar.CalendarDeleteEventController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalendarDeleteEventController</servlet-name>
        <url-pattern>/deletingEvent</url-pattern>
    </servlet-mapping>
    

    
    <!-- DarkSky forecast - retrieve -->
    <servlet>
        <servlet-name>DarkSkyController</servlet-name>
        <servlet-class>aiss.controller.DarkSky.DarkSkyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DarkSkyController</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
	
    <servlet>
        <description/>
        <servlet-name>EventBriteAuthController</servlet-name>
        <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
        <init-param>
            <param-name>provider</param-name>
            <param-value>EventBrite</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventBriteAuthController</servlet-name>
        <url-pattern>/AuthController/EventBrite</url-pattern>
    </servlet-mapping>
    <!--EventBriteOAuth2Callback-->
    <servlet>
        <description/>
        <servlet-name>EventBriteOAuth2Callback</servlet-name>
        <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
        <init-param>
            <param-name>provider</param-name>
            <param-value>EventBrite</param-value>
        </init-param>
        <init-param>
            <param-name>onSuccess</param-name>
            <param-value>redirect:/eventBriteEventList</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventBriteOAuth2Callback</servlet-name>
        <url-pattern>/oauth2callback/EventBrite</url-pattern> 
    </servlet-mapping>
	
	<!--   GoogleCalendar oAuth2 servlets    -->
    <!-- GoogleCalendarAuthController-->
    <servlet>
        <description/>
        <servlet-name>GoogleCalendarAuthController</servlet-name>
        <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
        <init-param>
            <param-name>provider</param-name>
            <param-value>GoogleCalendar</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleCalendarAuthController</servlet-name>
        <url-pattern>/AuthController/GoogleCalendar</url-pattern>
    </servlet-mapping>
    <!--CalendarOAuth2Callback-->
    <servlet>
        <description/>
        <servlet-name>GoogleCalendarOAuth2Callback</servlet-name>
        <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
        <init-param>
            <param-name>provider</param-name>
            <param-value>GoogleCalendar</param-value>
        </init-param>
        <init-param>
            <param-name>onSuccess</param-name>
            <param-value>redirect:/calendarOwnerCalendar</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleCalendarOAuth2Callback</servlet-name>
        <url-pattern>/oauth2callback/GoogleCalendar</url-pattern> 
    </servlet-mapping>
    
    <!-- All REST resources will be prefixed by /api -->
    <context-param>
    	<param-name>resteasy.servlet.mapping.prefix</param-name>
    	<param-value>/api</param-value>
    </context-param>
    
    <!-- Servlets -->
    <servlet>
    	<servlet-name>Resteasy</servlet-name>
    	<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    	<init-param>
    		<param-name>javax.ws.rs.Application</param-name>
    		<param-value>aiss.api.CommentaryApplication</param-value>
    	</init-param>
    </servlet>
    
    <!-- Servlet mappings -->
    <!-- All callsto /api/xxx will be sent to the resteasy servlet -->
    <servlet-mapping>
    	<servlet-name>Resteasy</servlet-name>
    	<url-pattern>/api/*</url-pattern>	
    </servlet-mapping>

</web-app>
